html, body {
    margin: 0;
    padding: 0;
    
  }
.top-bar{
    background-color: #192f59;
    height: 60px;
    display: flex;
    
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-left: 1015px;
}
.menu a {
    color: white;
    text-decoration: none;
}

.middle-bar{
    background-color:whitesmoke;
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100;
}

.Text{
 position: absolute;
  top: 5%; 
  left:7%;
  width: 90%;
  height: auto;
  transform: translate(-2%,40%); 
  color: #fff; 
  font-size: 48px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
 
}
.Text2{
    position: absolute;
     top: 30%; 
     left:7%;
     width: 70%;
     height: auto;
     transform: translate(-2%,40%); 
     color: #7df6ba; 
     font-size: 33px;
     font-weight: bold;
     background: rgba(0, 0, 0, 0.5);
    
   }
.Text-hardware{
  position: absolute;
  top: 0%; 
  left:4%;
  width: 90%;
  height: 95%;
  transform: translate(-4%,8%); 
  color: #32d8de; 
  font-size: 40px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
     
}
.bottom-bar{
    background-color: #242d36;
    bottom:0;
    left: 0;
    width: 100%;
    height: 150px;
    
}

.menu a:hover {
    color: #0d63ee;
}

.contact{
    padding-left: 1200px;
    color: #fff;
    justify-content: flex-end;
}
.contact h3{
    font: size 20px ;
}
.form-container {
    width: auto;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 350px;
}

button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button-container {
    text-align: center;
}

button:hover {
    background-color: #8196ac;
}
  .Text-soft{
  position: absolute;
  top: 4%; 
  left:4%;
  width: 90%;
  height: 95%;
  transform: translate(-4%,8%); 
  color: #79e7dc; 
  font-size: 40px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  }
 .label{
    margin-bottom: 2%;
 }
 .tabs-container,
.statements-container{
  display: flex;
  flex-direction: column;
}
.container {
    display: flex;
    align-items: center;
    margin-left: 35px;
  }
  .statements {
    display: flex;
    flex-direction: column;
  }
  .statement {
    padding: 100px;
    border: none;
    
    margin-top: 5px;
    color: #faf7f7;
  }
  .submit0{
   text-align: center;
   font-size: medium;
   color: #141131;
   background-color: rgba(189, 192, 199, 0.651);
   border: none;
   width: 150px;
   border-radius: 4px;
   padding: 10px;
   margin-top: 20px;
   margin-left: 822px;
   cursor: pointer;
  }
  
  .submit0:hover{
    border: 1px solid #c5cce7;
    background-color: #57a1b0;
  }
  .Text-tutor{
    position: absolute;
    top: 4%; 
    left:4%;
    width: 90%;
    height: 80%;
    transform: translate(-4%,8%); 
    color: #29c7e2; 
    font-size: 40px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    }
    .submit1{
        text-align: center;
        font-size: medium;
        color: #141131;
        background-color: rgba(189, 192, 199, 0.651);
        border: none;
        width: 150px;
        border-radius: 4px;
        padding: 10px;
        margin-top: 20px;
        margin-left: 670px;
        cursor: pointer;
       }
       
       .submit1:hover{
         border: 1px solid #c5cce7;
         background-color: #57a1b0;
       }